$main-font: 'Oswald Variable', sans-serif;
$main-bg-color: #1f1e38;
$main-green-color: rgb(53, 255, 191);
$main-red-color: rgb(247, 30, 58);
$margin-left: 150px;
$margin-right: 150px;
$main-gray: rgb(121, 120, 136);